.container {
  margin-top: 20px;
}

table {
  width: 100%;
}

th, td {
  text-align: center;
}

button.btn {
  margin-top: 5px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-top: 20px;
}

.btn-danger {
  background-color: red;
  border-color: red;
}

.btn-danger:hover {
  background-color: darkred;
  border-color: darkred;
}
